<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<h2>Reviews. <small><%= link_to"Deja tu comentario", new_restaurant_review_path(@restaurant)
 %></small></h2>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %>.
  <small>
  <%= link_to  "Eliminar", review_path(review),
  method: :delete, data: {confirm: "Seguro?"}%></p></small>
<% end %>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

